/* Login */
.FormLogin {
  background-color: #D9A566;
  opacity: 85%;
  width: 65%;
  height: 15vh;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* register */

.FormRegister {
  /* background-color: red; */ 
  background-color: #D9A566;
  opacity: 85%;
  width: 65%;
  height: 20vh;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Person */

.FormPerson {
  /* background-color: red; */
  background-color: #D9A566;
  opacity: 85%;
  border-radius: 5vh;
  width: 80%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.FormPersonContainer1 {
  /* background-color: blue; */
  width: 65%;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.FormPersonContainer2 {
  /* background-color: blue; */
  margin: 1vh;
  width: 90%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.FormPersonContainer3 {
  /* background-color: blue; */
  width: 65%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.FormPersonContainer4 {
  /* background-color: blue; */
  width: 100%;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-around; */
}

.PersonBody {
  /* background-color: blue; */
  width: 100%;
  height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.PersonCard {
  /* background-color: red; */
  font-size:medium;
  font-family: 'Averia Serif Libre', cursive;
  background-color: #D9A566;
  opacity: 90%;
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImagePerson {
  border-radius: 100%;
}

/* InfoPerson */

.InfoBody {
  /* background-color: red; */
  background-color: #D9A566;
  opacity: 75%;
  border-radius: 5vh;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.InfoPersonContainer1 {
  margin-top: 3vh;
  /* background-color: blue; */
  width: 80%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.InfoPersonContainer2 {
  /* background-color: blue; */
  width: 100%;
  height: 65vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-around;
  align-items: center;
}

.LabelView {
  font-size:medium;
  font-family: 'Averia Serif Libre', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh;
}

.ImageView {
  margin-top: 5vh;
  border-radius: 100%;
  height: 30vh;
}

/* Header */

.Header {
  /* background-color: red; */
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Name {
  font-size:medium;
  font-family: 'Averia Serif Libre', cursive;
  /* background-color: blue; */
  padding: 20px;
  border-radius: 100%;
}

  /* utils */
  
  .InputNumber {
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    text-align: center;
    border-radius: 5vh;
    width: 4vh;
    height: 3vh;
  }

  .Button1 {
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    border: 0;
    border-radius: 0.5vh;
    width: 3vh;
    height: 100%;
  }

  .Button2 {
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    background-color: #592F16;
    opacity: 90%;
    border: 0;
    border-radius: 1vh;
    width: 10vh;
    height: 40%;
  }

  .Input1 {
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    text-align: center;
    border: 0;
    border-radius: 25vh;
    width: 25vh;
    height: 4vh;
  }
  .Input2 {
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    text-align: center;
    border: 0;
    border-radius: 25vh;
    width: 25vh;
    height: 3vh;
  }
  .Input3 {
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    text-align: center;
    border: 0;
    border-radius: 1vh;
    width: 100%;
    height: 2.5vh;
  }

  .Input4 {
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    border: 0;
    border-radius: 1vh;
    width: 100%;
    height: 100%;
  }
  
  .LabelForm {
    /* background-color: red; */
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LabelForm2 {
    /* background-color: red; */
    font-size:medium;
    font-family: 'Averia Serif Libre', cursive;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
