/* Login */

.FormLogin {
  background-color: red;
  width: 65%;
  height: 15vh;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* register */

.FormRegister {
  background-color: red;
  width: 65%;
  height: 20vh;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Person */

.FormPerson {
  background-color: red;
  border-radius: 5vh;
  width: 80%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.FormPersonContainer1 {
  background-color: blue;
  width: 65%;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.FormPersonContainer2 {
  background-color: blue;
  width: 65%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.FormPersonContainer3 {
  background-color: blue;
  width: 65%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.FormPersonContainer4 {
  background-color: blue;
  width: 100%;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-around; */
}

.PersonBody {
  background-color: blue;
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.PersonCard {
  border-radius: 20px;
  margin-top: 10px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImagePerson {
  border-radius: 100%;
}

/* InfoPerson */

.InfoBody {
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.InfoPersonContainer1 {
  background-color: blue;
  width: 80%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.InfoPersonContainer2 {
  background-color: blue;
  width: 80%;
  height: 60vh;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-around;
  align-items: center;
}

.LabelView {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh;
}

.ImageView {
  border-radius: 100%;
  height: 30vh;
}

/* Header */

.Header {
  background-color: red;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Name {
  background-color: blue;
  padding: 20px;
  border-radius: 100%;
}

  /* utils */
  
  .InputNumber {
    border: 0;
    border-radius: 5vh;
    width: 4vh;
    height: 3vh;
  }

  .Button1 {
    border: 0;
    border-radius: 0.5vh;
    width: 3vh;
    height: 100%;
  }

  .Input1 {
    border: 0;
    border-radius: 25vh;
    width: 25vh;
    height: 4vh;
  }
  .Input2 {
    border: 0;
    border-radius: 25vh;
    width: 25vh;
    height: 3vh;
  }
  .Input3 {
    border: 0;
    border-radius: 1vh;
    width: 100%;
    height: 2.5vh;
  }

  .Input4 {
    border: 0;
    border-radius: 1vh;
    width: 100%;
    height: 100%;
  }
  
  .LabelForm {
    background-color: red;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LabelForm2 {
    background-color: red;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
